build
dist
*.egg-info
**/__pycache__/
*.log
**/*.lic
.vscode
.idea
.editorconfig
.DS_Store
**/*.pyc

# Ignore API keys
berkeley-function-call-leaderboard/function_credential_config.json

# Ignore tree-sitter
berkeley-function-call-leaderboard/eval_checker/tree-sitter-java
berkeley-function-call-leaderboard/eval_checker/tree-sitter-javascript
berkeley-function-call-leaderboard/tree-sitter-java
berkeley-function-call-leaderboard/tree-sitter-javascript

# Ignore Evaluation Dataset files
# From https://huggingface.co/datasets/gorilla-llm/Berkeley-Function-Calling-Leaderboard/tree/main
berkeley-function-call-leaderboard/eval_data_total.json
